:root{
    --bg-color: #fff;
    --main-color: #212b43;
    --main-slight-contrast-color: #30384b;
    --sub-color: #62cfe6;
    --sub-alt-color: #ddeff3;
    --text-color: #212b43;
    --contrast-color: #f19dac;
    --contrast-extra-color: #e58c9d;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    margin: 0px;
    flex-direction: column;
    background: var(--bg-color);
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}


.navbar {
    height: 3rem;
    color: var(--bg-color);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: none;
    text-align: center;
    font-weight: bolder;
    width: 100%;
    background: var(--main-color);
    box-shadow:
        2px 2px 3px var(--main-slight-contrast-color),
        -2px -2px 3px var(--bg-color);
}

.element-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    font-size: 1.75rem;
}

.element{
    margin-right: 10px;
}

a:link,
a:visited {
    margin: auto;
    background: transparent;
    padding: 5px;
    color: var(--sub-color);
    text-decoration: none;
    display: inline-flexbox;
    border: none;
}


    .cards {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 3.5%;
        margin-right: 3.5%;
        margin-top: 1%;
        margin-bottom:1%;
    }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  

  label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label input {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button[type="submit"] {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    width: 149px;
    border-radius: 3px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  
  .subHeader {
    margin-top: 1ex;
    margin-bottom: 1ex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
  }
  
  .subHeader:before,
  .subHeader:after {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
  }
  
  .subHeader:before {
    margin-right: 10px;
  }
  
  .subHeader:after {
    margin-left: 10px;
  }
  
  /* search form */
#search-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#search-form label {
  margin-right: 0.5rem;
}

#search-form input[type="text"] {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* search results */
#search-results {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #eee;
  border-radius: 4px;
}


  #cardDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

  }


  
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
  }

/* ---------------- FILESYSTEM -------------- */
.node {
  display: flex;
  align-items: center;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #222;
  cursor: pointer;
  
  /*FIXME: Maybe remove b2*/
  margin-right: 5%;
  margin-left: 5%;
}

.children {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

#tree-container {
  margin-bottom: 9%;
}

.hidden {
  display: none;
}

.file {
  color: var(--sub-color);
  cursor: default;
}

.nodeColor {
  background-color: blue;
}